extends base

block content 
  main.main
    .user-view
      // Side menu bar
      include _sideMenu 
      .user-view__content
        .manage-tour__form-container
          #tour-heading.flex.space-between
            h1.heading-secondary Tour List
            a.btn.btn-small(href='/add-tour') Create a Tour
          //- list heading
          ul.list-heading.grid__tour-heading
            li
            li Name
            li Price
            li Difficulty
            li Start date
          #list-container
            each tour in tours
              .tour--list-row.list-row.grid__tour-list
                img.img(src=`${tour.imageCover}` alt=`${tour.name}`)
                span= tour.name
                span= tour.price
                span.overview-box__text= tour.difficulty
                span= tour.startDates[0].toLocaleString('en-us', {month: 'long', year: 'numeric'})