extends base

block content 
  main.main
    .user-view
      // Side menu bar
      include _sideMenu 
      .user-view__content
        .manage-tour__form-container
          #tour-heading.flex.space-between
            h1.heading-secondary User List
          //- list heading
          ul.list-heading.grid__user-heading
            li
            li Name
            li Email
            li Role
          #list-container
            each user in users
              .user--list-row.list-row.grid__user-list
                img.img(src=`${user.photo}` alt=`${user.name}`)
                span= user.name
                span= user.email
                span.overview-box__text= user.role